# Ignore the Jupyter Notebook checkpoints
.ipynb_checkpoints/serial-excel-dates-checkpoint.py

# Ingnore the virtual environment
venv/

# Ignore the pyenv version file
.python-version
test-files/1800_Revolutionary_War_Records_for_script.xlsx
test-files/~$1111-000-000 Legislative Papers.xlsx
